body {
  background-color: white;
  color: #141414;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

main {
  padding-top: 45px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

main p {
  font-size: 1.65em;
  line-height: 1.30em;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}

/***nav***/

.navbar {
  background-color: #0099cc;
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.navbar .navbar-brand {
  color: #141414;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  font-size: 1.6em;
  vertical-align: middle;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: whitesmoke;
  transition-duration: 0.6s;
}

/* Link */

.navbar .navbar-nav > li > a {
  color: #141414;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: whitesmoke;
  transition-duration: 0.6s;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #141414;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: black;
  background-color: black;
}

/*****home pg*****/

.jumbotron {
  padding: 50px;
  color: white;
  background-image: url("images/keyboard02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;

}

.jumbotron h3 {
  padding-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.85em;
}


.btn {
  background-color: black;
  border-color: white;
  font-size: 1.15em;
}

.btn:hover {
  background-color: white;
  color: black;
  border-color: black;
  transition-duration: 0.6s;
}

h2 {
  font-size: 2.25em;
  padding-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.two {
  text-align: center;
}

.two ul {
  display: inline-block;
  text-align: left;
  list-style-type: circle;

}

.two li {
  font-size: 1.60em;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.30em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.logos {
  padding-bottom: 50px;

}

text-shadow: 1px 1px 1px rgba(0,
0,
0,
0.004);
text-rendering: optimizeLegibility !important;

/*****about pg*****/

.about {
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.about,
h1,
h2 {
  text-align: center;
}

.about p {
  text-align: left;
  width: 75%;
  margin: auto;
  padding-bottom: 10px;
  text-indent: 2em;
}

.carousel .item {
  left: 0!important;
  -webkit-transition: opacity .2s;
  /*adjust timing here */
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.next.left,
.prev.right {
  opacity: 1;
  z-index: 1;
}

.active.left,
.active.right {
  opacity: 0;
  z-index: 2;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .9s;
  left: 0;
  opacity: 0;
  /* hide all slides */
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 1;
  /* show first slide */
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}


/****services pg*****/

main .fa {
  float: right;
}

.address .fa {
  float: left;
}

.panel-title {
  font-size: 1.5em;
  color: black;
  padding: 2px;

}

.panel-title:hover {

  color: white;
  transition-duration: 0.5s;


}

#accordion {
  width: 95%;
  margin: auto;
}

#headingSix,
#headingFive,
#headingFour,
#headingThree,
#headingTwo,
#headingOne {
  background-color: #008ecc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.panel-body {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.panel-body h4 {
  text-align: left;
  margin-left: 75px;

}

.panel-body p {
  width: 80%;
  margin: auto;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.40em;
  line-height: 1.2em;
}

.panel-body ul {
  display: inline-block;
  text-align: left;
  width: 70%;
}

.panel-body li {
  font-size: 1.2em;
  line-height: 1.65em;
}

/*****contact*****/

.address {
  margin-left: 25px;
  color: #141414;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

.inner {
  width: 90%;
  margin: auto;
}


/***footer***/

footer {
  background-color: #0099cc;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  padding-top: 10px;
}

.contact-details .fa:hover {
  background-color: transparent;
}

footer .fa {
  padding: 8px;
  font-size: 18px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

footer .fa:hover {
  background: white;
  color: black;
  text-decoration: none;
  transition-duration: 0.6s;

}

.fa-facebook,
.fa-twitter,
.fa-linkedin {
  background: #141414;
  color: white;
}

footer p {
  font-size: 1.15em;
}

footer h4 {
  text-decoration: underline;
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 2.3em;
    text-align: center;
  }
  .jumbotron h2 {
    font-size: 1.8em;
  }
  .two ul {
    padding-left: 70px;
  }
  .about {
    width: 100%;
  }
  .about p {
    width: 90%;
  }
  .map {
    max-width: 100%;
    height: 40%;
  }
  .icon-bar {
    color: #141414;
  }
  .border {
    background-color: transparent;
    border: none;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {}

  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {}
